$color-bg-grey__primary: #212121;
$color-bg-grey__secondary: #424242;
$color-text-grey__primary: #FAFAFA;
$color-text-grey__secondary: #F5F5F5;
$color-text-grey__shallow: #E9E9E9;
$color-red__primary: #E53935;
$color-red__secondary: #D32F2F;
$color-red__shallow: #B71C1C;
$color-green__primary: #00E676;
